@value t_white, t_blue, t_navy, t_grey from '../../common/colors.css';

.resetCont {
  display: flex;
}

.resetIcon {
  padding: 1rem;
  width: 4rem;
  height: 4rem;
  color: t_white;
  border-radius: 50%;
  background: t_blue;
  box-shadow: 3px 3px 4px 0px t_grey;
}
.resetIcon:hover {
  background: t_navy;
}

@media (max-width: 768px) {
  .resetIcon {
    padding: 0.7rem;
    width: 3rem;
    height: 3rem;
  }
}
