@value t_white, t_green, t_blue_light, t_blue, t_blue_dark from '../../common/colors.css';

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0 3rem;
}

.rTitle {
  font-size: 2.5rem;
  font-weight: 600;
}

.rSigun {
  color: t_green;
  margin-right: 10px;
}

.rBizplc {
  color: t_blue_light;
  margin-right: 10px;
}

.newRBtn {
  padding: 0.8rem;
  font-size: 1.2rem;
  color: t_white;
  background: t_blue;
  border-radius: 2rem;
  cursor: pointer;
}
.newRBtn:hover {
  background: t_blue_dark;
}

.revSearch,
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  margin-right: 10px;
}

.revSearch {
  gap: 10px;
}

.resetIcon {
  padding: 0.6rem;
  width: 2.6rem;
  height: 2.6rem;
  color: t_white;
  border-radius: 50%;
  background: t_blue;
}

@media (max-width: 768px) {
  .newRBtn {
    font-size: 1rem;
  }
}
