@value t_grey, t_green, t_border_grey, t_white, t_black, t_navy, t_blue_light from '../../common/colors.css';

.tCont {
  font-size: 20px;
}

.sortTxt {
  margin-top: 2rem;
  margin-bottom: 10px;
  color: t_grey;
}

.table {
  text-align: center;
  width: 100%;
}

.tHead {
  color: t_white;
  background: t_navy;
}

td {
  min-width: 70px;
  border: 2px solid rgba(115, 115, 114, 0.05);
}

tr:hover {
  color: t_white;
  background: t_blue_light;
  cursor: pointer;
}
tr:last-child td:first-child {
  border-collapse: collapse;
  border-radius: 0 0 0 1rem;
}
tr:last-child td:last-child {
  border-collapse: collapse;
  border-radius: 0 0 1rem 0;
}

.onBsnState,
.offBsnState {
  color: t_white;
  padding: 5px 10px;
  border-radius: 10px;
}

.onBsnState {
  background: t_green;
}

.offBsnState {
  background: t_grey;
}

@media (max-width: 1024px) {
  .tCont {
    font-size: 18px;
  }
}
