@value t_blue, t_green, t_grey, t_navy from '../../common/colors.css';

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.menu a {
  position: relative;
  padding: 1rem;
}

.navItem {
  cursor: pointer;
}
.navItem:hover {
  transform: translate(0, -5px);
  transition: transform 0.5s;
}

.icon {
  margin-right: 10px;
}

.bar {
  display: inline-block;
  width: 1px;
  height: 15px;
  background: t_grey;
}

.navCircle {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 2px;
  border-radius: 2px;
  background: t_blue;
  transform: translate(-50%, 0);
}
.navItem:hover .navCircle {
  width: calc(100% - 2rem);
  transform: translate(-50%, -0.5rem);
  transition: width 0.5s;
}

.userBar {
  background: t_green !important;
}

.mState {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  color: t_navy;
  gap: 10px;
}

.mState_btn {
  display: flex;
  gap: 10px;
}

.mState a {
  padding: 0;
}

.mState button {
  padding: 0;
  background: none;
}

.mState button .icon {
  margin: 0;
  font-size: 1.5rem;
  color: t_green;
}
.mState button:hover .icon {
  color: t_grey;
  scale: 1.2;
  transition: all 0.3s;
}

.mState .user_edit_btn .icon {
  margin-top: 5px;
}

.gone {
  display: none;
}

@media (max-width: 1024px) {
  .menu {
    flex-direction: column;
    gap: 20px;
  }

  .bar {
    width: 80%;
    height: 1px;
  }

  .mState {
    flex-direction: column;
  }

  .mState_btn {
    gap: 1.2rem;
  }

  .mState button .icon {
    color: t_navy;
  }
}
