@value t_grey, t_blue, t_navy, t_white, t_border_grey from '../../common/colors.css';
@value t_minWidth, t_minHeight from '../../common/sizes.css';

.select,
.login input {
  padding: 10px 0;
  font-size: 1.4rem !important;
  border: 1px solid t_border_grey;
  border-radius: 1rem;
}

.login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: t_minWidth;
  height: 100%;
  background: t_grey;
  z-index: 5;
}

.loginCont {
  position: absolute;
  display: flex;
  padding: 5px;
  top: 50%;
  left: 50%;
  width: 750px;
  height: 350px;
  border-radius: 1rem;
  background: t_blue;
  box-shadow: 5px 5px 10px 1px t_grey;
  transform: translate(-50%, -50%);
}

.leftCont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 1 45%;
  padding: 10px 20px;
  border-radius: 0.8rem;
  background: t_white;
}

.back_btn {
  flex: 1;
  padding: 0;
  background: none;
}
.back_btn:hover .icon {
  color: t_grey;
}

.icon {
  color: t_navy;
  font-size: 1.5rem;
}

.formCont {
  display: flex;
  flex: 9;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.input_title {
  font-weight: 600;
  font-size: 1.2rem;
}

.emailCont {
  display: flex;
  align-items: center;
  gap: 5px;
}

.email_input {
  width: 40%;
}
.select {
  width: 60%;
}

.login_btn {
  padding: 10px 0;
  font-size: 1.3rem;
  font-weight: 600;
  background: t_blue;
}
.login_btn:hover {
  background: t_navy;
}

.logoCont {
  display: flex;
  flex: 1 1 35%;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 70%;
  height: auto;
}

@media (max-width: 1024px) {
  .select,
  .login input {
    font-size: 1.2rem !important;
  }

  .loginCont {
    width: 700px;
    height: 320px;
  }
}

@media (max-width: 768px) {
  .loginCont {
    flex-direction: column;
    width: 400px;
    height: 500px;
  }

  .leftCont {
    flex: 1 1 65%;
  }

  .back_btn {
    margin-bottom: 10px;
  }

  .login_btn {
    font-size: 1.2rem;
  }

  .logoCont {
    flex: 1 1 35%;
  }

  .logo {
    width: 40%;
    height: auto;
  }
}
