@value t_black, t_grey, t_green, t_green_dark, t_blue, t_blue_dark from '../../common/colors.css';

@keyframes onSlide {
  0% {
    opacity: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    height: 200px;
  }
}

.select {
  position: relative;
  width: 100%;
  height: 100%;
  color: t_black !important;
  font-size: inherit;
  font-weight: inherit;
  z-index: 2;
}

.select * {
  background: inherit;
}

.select button {
  font-size: inherit;
  font-weight: inherit;
}

.self_cont {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 80%;
  gap: 5px;
}

.self_input {
  flex: 9;
  padding: 0 10px !important;
  width: 100%;
  height: 100%;
  background: #fff !important;
}

.self_btn {
  flex: 1;
  width: 100%;
  padding: 5px;
  height: 100%;
  border-radius: 10px;
}

.self_btn,
.self_btn .icon {
  background: t_blue;
}
.self_btn:hover .self_btn:hover .icon {
  background: t_blue_dark;
}

.select_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
  color: t_black;
}

.list_cont {
  position: absolute;
  display: inline-block;
  top: calc(100% + 10px);
  left: 0;
  width: 100%;
  height: 10rem;
  border-radius: 10px;
  overflow-y: auto;
  animation: onSlide 1s;
  background: #fff;
}

.list_item {
  padding: 10px;
}
.list_item:hover {
  color: #fff;
  cursor: pointer;
  opacity: 0.7;
  background: t_grey;
}

.gone {
  display: none;
}
