@value t_blue, t_green, t_red, t_black, t_navy, t_grey, t_border_grey, t_shadow_grey from "../../common/colors.css";

.review_form {
  margin-bottom: 3rem;
  font-size: 2rem;
}

.review_form input,
.review_form textarea {
  width: 100%;
}

.review_form input:disabled,
.review_form textarea:disabled {
  color: t_black;
}

.review_form {
  padding: 1rem 1.5rem;
  background: #fff;
  box-shadow: 1px 1px 10px 1px t_shadow_grey;
  border-radius: 2rem;
}

.input_cont {
  border-top: 1px solid t_grey;
  border-bottom: 1px solid t_grey;
}

.factory_name {
  display: flex;
  align-items: center;
  padding: 20px 0;
  color: t_navy;
  font-weight: 800;
  gap: 5px;
}

.input_item {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 10px 0;
  color: grey;
  border-bottom: 2px solid t_border_grey;
}

.uId,
.rDate {
  color: t_black;
}

.review_textarea {
  margin-top: 10px;
}

.btnForm {
  display: flex;
  justify-content: flex-end;
  padding: 20px 10px 10px;
  gap: 10px;
}

.btnItem {
  font-size: 2rem;
  font-weight: 600;
  background: none;
  transition: all 0.5s;
}
.btnItem:nth-child(2n) {
  color: t_red;
}
.btnItem:nth-child(odd) {
  color: t_green;
}
.btnItem:hover {
  transform: translateX(-10px);
}

.btnNext:nth-child(3) {
  display: none;
  opacity: 0.7 !important;
}
.btnNext:nth-child(4) {
  display: none;
  opacity: 0.4 !important;
}

.btnItem:hover .btnNext {
  display: inline-block;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .review_form,
  .btnItem {
    font-size: 1.8rem;
  }

  .factory_name {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .review_form {
    font-size: 1.5rem;
  }

  .factory_name,
  .btnItem {
    font-size: 1.8rem;
  }
}
