@value t_blue, t_navy, t_grey, t_white from '../../common/colors.css';
@value t_minWidth from '../../common/sizes.css';

.fSearchBar {
  display: flex;
  width: 70%;
  gap: 10px;
}

.select,
.inputForm {
  border-radius: 2rem;
  box-shadow: 3px 3px 4px 0px t_grey;
}

.select {
  flex: 2 1;
  padding: 20px 0;
  font-size: 1.2rem;
  font-weight: 400;
  background: #fff;
}

.inputForm {
  display: flex;
  flex: 8 1;
}

.search_input {
  padding: 1rem;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  border-radius: 2rem 0 0 2rem;
}

.search_btn {
  width: 4.5rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 0 2rem 2rem 0;
  background: t_blue;
}
.search_btn:hover {
  background: t_navy;
}

@media (max-width: 1024px) {
  .fSearchBar {
    flex-direction: column;
    width: 80%;
  }

  .search_btn {
    width: 3.5rem;
    font-size: 1.2rem;
  }

  .select,
  .search_input {
    font-size: 1rem;
    padding: 15px;
  }
}
