@value t_black, t_blue from '../../common/colors.css';

.userJoin {
  color: t_black;
  font-size: 1.4rem;
}

.title {
  display: flex;
  justify-content: space-between;
  font-size: 2.5rem;
  font-weight: 600;
}

.colonIcon {
  color: t_blue;
  font-size: 3rem;
}

@media (max-width: 768px) {
  .userJoin {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }
}
