@value t_blue_light, t_green, t_navy, t_white from '../../common/colors.css';

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: t_white;
  font-size: 2rem;
  font-weight: 600;
  background: t_navy;
}

.loadingCont {
  position: relative;
}

.loading_circle {
  width: 150px;
  height: 150px;
  border: 5px solid t_white;
  border-radius: 50%;
  animation: spin 5s linear infinite;
}
.loading_circle::before,
.loading_circle::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.loading_circle::before {
  bottom: -15px;
  left: calc(50% - 30px);
  background: t_green;
}
.loading_circle::after {
  top: -15px;
  left: 50%;
  background: t_blue_light;
}

.loading_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
