@value t_minHeight, t_minHeight_s, pg_padding, pg_padding_m, pg_padding_s from '../common/sizes.css';

.page {
  padding: pg_padding;
  min-height: t_minHeight;
  overflow: auto;
}

@media (max-width: 1024px) {
  .page {
    padding: pg_padding_m;
    min-height: t_minHeight_s;
  }
}

@media (max-width: 768px) {
  .page {
    padding: pg_padding_s;
  }
}
