@value t_blue from "../common/colors.css";

.subTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0 3rem;
  font-size: 2.5rem;
  font-weight: 600;
}

.tSigun {
  color: t_blue;
}

.subIcon {
  color: t_blue;
  font-size: 3rem;
}
