@value t_white, t_navy, t_shadow_grey, t_border_grey from '../common/colors.css';

table {
  background: white;
  margin-bottom: 1rem;
  border-collapse: collapse;
  border-style: hidden;
  border-radius: 1rem;
  box-shadow: 1px 1px 10px 1px t_shadow_grey;
  border-bottom: 2px solid t_border_grey;
}

th:first-child,
th:last-child {
  border-collapse: collapse;
  border-style: hidden;
}

th:first-child {
  border-radius: 1rem 0 0 0;
}

th:last-child {
  border-radius: 0 1rem 0 0;
}

.preBtn,
.nextBtn {
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  color: t_white;
  background: t_navy;
  border-radius: 10px;
  cursor: pointer;
}
.preBtn:hover,
.nextBtn:hover {
  opacity: 0.8;
}

.disabledBtn {
  display: none;
}

.menuBar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.stateBar {
  padding: 0 1rem;
}

thead > tr:hover {
  color: inherit;
  background: inherit;
}

th,
td {
  padding: 1rem 10px;
  line-height: 1.5;
  word-break: keep-all;
}

td {
  min-width: 70px;
  border: 2px solid t_border_grey;
}

@media (max-width: 768px) {
  th,
  td {
    padding: 15px 10px !important;
  }

  .prevBtn,
  .nextBtn {
    width: 2rem;
    height: 2rem;
  }
}
