@value t_white, t_navy_dark, t_blue_light from "../../common/colors.css";

.footer {
  display: grid;
  padding: 10px;
  place-items: center;
  color: t_white;
  background: t_navy_dark;
}

.maker {
  text-decoration: underline;
}
.maker:hover {
  color: t_blue_light;
}

@media (max-width: 1024px) {
  .footer {
    font-size: 0.8rem;
  }
}
